// Fonts
@import url('https://fonts.googleapis.com/css?family=Merienda+One|Source+Sans+Pro:300,400,600');
$font_1: 'Source Sans Pro',sans-serif;
$font_2: 'Merienda One', cursive;
// Colores
$primary:#FFDE25;
$purple:#59397C;
$blue:#4756CA;
$red:#EE2B47;
$gray: #797F80;
$black:#262626;
$white:#fff;
$gray:#F5F5F5;
$gray_2:#9D9D9D;
$color_overlay:rgb(3,13,29);
// Colores RGBA