@import 'variables';
@import 'mixins/titles';
@import 'mixins/paragramphs';

html,
body {
    height: 100%;
    font-size: 16px;
}

// Titulos & Parrafos
.title {
    @include titles($font_2, 4rem, 300, $gray_2, 4rem, 2rem);
}

// Parrafos
.paragramph {
    @include titles($font_1, 1.4rem, 300, $gray_2, 2rem, 1.6rem);
}

// Carosel

/*-----------------------------------------------------------
          Reglas para Carrucel 
-------------------------------------------------------------*/


/* You can change the height of the carousel by changing 
 the height in the class below. It is set to 50% 
 by default, but can be any height! */


/* Puede cambiar la altura del carrusel cambiando
  La altura en la clase de abajo. Se establece en el 50%
  Por defecto, pero puede ser cualquier altura! */

.carousel {
    height: 80%;
}

.carousel-2 {
    height: 100%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}





/* Background images are set within the HTML using inline CSS, not here */


/* Las imágenes de fondo se establecen dentro del HTML usando CSS en línea, no aquí */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .hero {
        position: absolute;
        top: 70%;
        left: 50%;
        z-index: 3;
        text-align: center; // text-transform: uppercase;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        -webkit-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0);
        -o-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        .carousel-caption {
            hgroup {
                h3 {
                    color: rgba($primary, .8);
                    font-family: $font_2;
                    font-size: 6rem;
                    margin: 0;
                    padding: 0;
                    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                }
                p {
                    font-family: $font_1;
                    font-size: 1.8rem;
                    font-weight: 300;
                }
            }
        }
    }
}

// Color de los indicadores
.fade-carousel .carousel-indicators>li {
    width: 7px;
    height: 7px;
    margin: 0 2px;
    background-color: $white;
    border-color: $white;
    opacity: .6;
    &.active {
        width: 8px;
        height: 8px;
        opacity: 1;
    }
}

// Efectos fade del texto
.fade-carousel .carousel-inner .item {
    .hero {
        opacity: 0;
        -webkit-transition: 2s all ease-in-out .1s;
        -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
        -o-transition: 2s all ease-in-out .1s;
        transition: 2s all ease-in-out .1s;
    }
    &.active .hero {
        opacity: 1;
        -webkit-transition: 2s all ease-in-out .1s;
        -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
        -o-transition: 2s all ease-in-out .1s;
    }
}

// Overlay
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: $color_overlay; // background: linear-gradient( 90deg, $blue,$red );   
    opacity: .5;
}

// Separador
.separator {
    width: 100px;
    height: 3px;
    background-color: $primary;
    margin: 20px auto;
    border: 0;
}

.bt {
    background-color: $purple;
    padding: 2px 5px;
    color: $white;
    font-weight: 600;
    border-radius: 6px;
}

.redes {
    list-style: none;
    li {
        display: inline-block;
        margin: 20px;
        a {
            font-size: 2rem;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

// Footer
.footer {
    background-color: $gray;
    padding: 20px 0;
    p {
        color: $gray_2;
        margin: 0;
        font-family: $font_1;
        font-size: 1.1rem;
        font-weight: 400;
    }
    a {
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
        margin-left: 5px;
        background-color: $black;
        padding: 5px 20px;
        border-radius: 6px;
        transition: background-color .5s;
        &:hover {
            background-color: $primary;
            color: $black;
            text-decoration: none;
            transition: background-color .5s;
        }
    }
}

// Media Query
@media screen and (min-width: 980px) {
    .fill {
        .hero {
            width: 100%;
        }
    }
}

@media screen and (min-width: 768px) {
    // NAVBAR
    .navbar-default {
        background-color: transparent;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        transition: background-color .2s ease;

        .navbar-brand {
            padding: 0px;
            line-height: normal;
            height: 100%;

            img {
                height: 100%;
                width: 40%;
            }
        }
        .nav.navbar-nav {
            line-height: 20px;

            .active>a,
            .navbar-default .navbar-nav>.active>a:focus,
            .navbar-default .navbar-nav>.active>a:hover {
                background-color: $primary;
                color: $black;
            }
            a {
                font-family: $font_1;
                font-size: 1rem;
                color: $white;
                font-weight: 600;
                text-transform: uppercase;
                margin: 0 3px;
                transition: background .4s;
                &:hover {
                    background-color: $primary;
                    color: $black;
                    transition: background .5s;
                }
            }
        }
    }

    .bg-navbar {
        background-color: $primary;
        transition: background-color .2s ease;

        .nav.navbar-nav {
            .active>a,
            .navbar-default .navbar-nav>.active>a:focus,
            .navbar-default .navbar-nav>.active>a:hover {
                background-color: rgba($black, .9);
                color: $primary;
            }

            a {
                color: $black;
                &:hover {
                    color: $primary;
                    background-color: $black;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    // Carousel
    .fill {
        .hero {
            // top: 90%;
            width: 768px;
            .carousel-caption {
                hgroup {
                    h3 {

                        font-size: 3rem;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    } // NAVBAR
    .navbar-default {
        background-color: $black;
        padding-top: 15px;
        padding-bottom: 15px; // height: 80px;
        border: 0;
        .navbar-brand {
            padding: 0px;
            line-height: normal;
            height: 100%;

            img {
                height: 100%;
                width: 100px; // background-image: url("../img/logo-2.png") !important;
                // background-image: url(../img/logo-2.png) !important;
            }
        }
        .nav.navbar-nav {
            .active>a,
            .navbar-default .navbar-nav>.active>a:focus,
            .navbar-default .navbar-nav>.active>a:hover {
                background-color: $primary;
                color: $black;
            }

            a {
                color: $white;
                font-family: $font_1;
                font-weight: 600;
                text-transform: uppercase;
                margin: 0 5px;
                text-align: center;
                &:hover {
                    border-radius: 6px;
                    background-color: rgba($white, .6);
                    color: $white;
                    transition: background .2s;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {

    .fill {
        .hero {
            top: 90%;
            width: 425px;
            .carousel-caption {
                hgroup {
                    h3 {

                        font-size: 3rem;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .navbar-brand {
        padding: 5px;
        line-height: normal;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            margin-left: 20px;
        }
    }

    .carousel {
        height: 60%;
    }
    .item,
    .active,
    .carousel-inner {
        height: 100%;
    }
    .hero {
        width: 425px;
        h3 {
            font-size: 1.4rem;
        }
        p {
            font-size: .6rem;
        }
    } // Tutulos
    .title {
        font-size: 2rem;
    }

    .sub-title {
        font-size: 1.5rem;
    }
    .paragramph {
        font-size: 1.2rem;
    } // Parrallax
    .text-vcenter {

        h2 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.1rem;
        }
    } // Footer
    .footer {
        background-color: $black;
        p {
            font-size: .9rem;
            color:$white;
            a{
                background-color: transparent;
                color:$primary;

            }
        }
    }
}

@font-face {
    font-family: 'icons';
    src: url('../fonts/icons/icons.eot?8lv1zi');
    src: url('../fonts/icons/icons.eot?8lv1zi#iefix') format('embedded-opentype'),
    url('../fonts/icons/icons.ttf?8lv1zi') format('truetype'),
    url('../fonts/icons/icons.woff?8lv1zi') format('woff'),
    url('../fonts/icons/icons.svg?8lv1zi#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Behance:before {
    content: "\e900";
    color: #1769ff;
}

.icon-github:before {
    content: "\e901";
}

.icon-gmail:before {
    content: "\e906";
    color: #d14836;
}

.icon-linkedin:before {
    content: "\e902";
    color: #0077b5;
}

.icon-pinterest:before {
    content: "\e909";
    color: #bd081c;
}

.icon-whatsapp:before {
    content: "\e90e";
    color: #25d366;
}