<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title Personalización del Carousel y banner Parallax 
	link(rel="stylesheet", href="css/styles.min.css")
	link(rel="stylesheet", href="css/custom.min.css")
body
	// Menu
	nav#menu.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#my-menu", aria-expanded="false")
					span.sr-only Menu
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#")
					img#logo(alt="Logo CreatiLab", src="img/logo-light.svg")

			.collapse.navbar-collapse#my-menu
				ul.nav.navbar-nav.navbar-right
					li.active
						a(href="#") Home
					li
						a(href="#") Full Slider
					li
						a(href="#") Parrallax
					li
						a(href="#") Parallax Section

	// Footer
	footer.footer
		.container
			p.text-center Copyleft 2017 | Desarrollo Free 
				a(href="#", target="_blank") Yormi Altmiranda